version: "3.9"

services:
  db:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: postgres17-vector-pgroonga
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: